*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(177, 128, 97);
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    color: azure;
    text-shadow: 0 0 10px black;
}
#gameBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 3%;
}

li { 
    list-style-type: none;
    position: static;
   
}
.game {border: 1px solid transparent;
        border-radius: 30px;
        height: 25vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
}
a {
    text-decoration: none;
    font-size: 20px;
    color: azure;
    text-shadow: 0 0 10px black;
    transition: 0.3s;

}

#cofTitle:hover {
    color: brown;
}
#COF {
    background-image: url("../IMG/COF.jpg");
    background-position: 50% 70%;
    transition: 0.5s;
    z-index: 0;
}
#COF:hover{
    height: 30vh;
    width: 35vw;
    border: solid 3px brown;
    z-index: 10;
}

#dndTitle:hover {
    color: turquoise;
}
#DnD {
    background-image: url("../IMG/DnD.webp");
    background-position: 50% 25%;
    background-size: 100%;
    transition: 0.5s;
    z-index: 0;
    
    
}

#DnD:hover{
    height: 30vh;
    width: 35vw;
    border: solid 3px turquoise;
    z-index: 10;
}

#blobTitle:hover {
    color: rgb(111, 241, 183);
}
#Blob {
    background-image: url("../IMG/Blob.jpg");
    background-position: center;
    background-size: 100%;
    transition: 0.5s;
    z-index: 0;
}

#Blob:hover{
    height: 30vh;
    width: 35vw;
    border: solid 3px rgb(111, 241, 183);
    z-index: 10;
}